name: campus_kin
description: "Unite your campus community with this intuitive lost and found app, powered by Flutter and a smart AI feature that visually matches forgotten treasures with their rightful owners."
publish_to: "none"
version: 1.0.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  shared_preferences: ^2.0.0
  image_picker: '>=1.1.2'
  http: ^1.0.0
  path_provider: ^2.0.0
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
